{% extends 'base.html' %}

{% block head %}
<title>
    Blog posts
</title>
{% endblock %}

{% block body %}
<br>
<div>
    <h1 style="display:inline">
        Welcome, have a great day!
    </h1>
    <a style="display:inline" class="btn btn-success float-right"  href="/posts/new">+ New Post</a>
</div>

<hr>

<!--- Display the existing blog posts -->
{% for story in allstories %}
    <h1>{{ story.title }}</h1>
{% if story.author %}
    <small>Written by {{story.author}} on {{story.date_posted}}</p1></small>
{% else %}
    <p1>By: Unknown</p1>
{% endif %}
<br>
<br>
    <div style="white-space: pre-wrap;"><p1>{{ story.content}}</p1></div>

<br><br>
<!-- Delete option -->
<a class="btn btn-danger" href='/posts/delete/{{story.id}}'>Delete</a>
<!-- Edit option -->
<a class="btn btn-primary" href='/posts/edit/{{story.id}}'>Edit</a>
<hr>

{% endfor %}

{% endblock %}