{% extends 'base.html' %}

{% block head %} 
    <title>
        First Flask APP Posts
    </title>
{% endblock %}

{% block body %} 
    <h1>
        Welcome, post your content here!
    </h1>

    <!-- Get the new blog content from user -->
    <hr>
    <form action='/posts' method='POST'>
        Title: <input type='text' name='title' id='title'>
        <br>
        Author: <input type='text' name='author' id='author'>
        <br>
        Post: <input type='text' name='content' id='content'>
        <br>
        <button type="submit" value="Submit">Post</button>
    </form>
    <hr>

    <!--- Display the existing blog posts -->
    {% for story in allstories %}
        <h1>{{ story.title }}</h1>
        <h3><p1>{{ story.content}}</p1></h3>

        <br>
        {% if story.author %}
            <p1>By: {{story.author}}</p1>
        {% else %}
            <p1>By: Unknown</p1>
        {% endif %}

        <!-- Delete option -->
        <br>
        <a href='/posts/delete/{{story.id}}'>Delete</a>
        <!-- Edit option -->
        <a href='/posts/edit/{{story.id}}'>Edit</a>
        <hr>

    {% endfor %}

{% endblock %}